* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(26, 114, 185);
}

@font-face {
    font-family: "roboto";
    src: url(../font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "poppins";
    src: url(../font/Poppins-Regular.ttf);
}

body {
    background-color: #e2dfdf;
}

.nav-container {
    background-image: linear-gradient(to right,rgb(148, 161, 172), rgb(26, 114, 185), rgb(26, 114, 185));
    width: auto;
    padding: 1.5em;
    display: flex;
    align-items: center;
    

    .nav-cont {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 20px;

        nav {
            display: none;
        }
        
        a.logo {
            font-family: sans-serif;
            text-transform: uppercase;
            text-decoration: none; 
            font-size: 1.6em;
            font-weight: bolder;
            color: white; 

        }

        .menu {
            cursor: pointer;
        }
    }
}

section.hero-sec {
    background-image: url("../images/laptop-girl.png");

    .img-cont-a {
        height: 100%;
        width: 100%;
        background-color: rgba(26, 113, 185, 0.678);
        background-size: contain;
        padding: 4em;
    }

    .land {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        gap: rem;
        position: relative;

        .cont {
            display: none;
        }

        .intro-cont {
            display: flex;
            gap: 1rem;
            flex-direction: column;
            width: 100%;

            .dots {
                display: none;
                height: 100px;
                width: 100px;
                position: absolute;
                left: 12em;
            }

            h1 {
                color: white;
                font-family: "poppins";
                font-weight: 700;
            }

            h2 {
                color: white;
                font-style: italic;
                font-family: "roboto";
                font-size: 1.2em;

                span {
                    font-style: normal;
                    padding-left: .5em;
                    color: black;
                }
            }

            p {
                text-transform: capitalize;
                font-family: "roboto";
                color: white;
                font-style: italic;
                text-shadow: 0px 0px 2px black;
            }

            .cont-img, .image {
                display: none;
            }
        }

        
    }
}

section.land-sect {
    background-image: url("../images/mac.jpeg");
    background-size: cover;

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;


    .img-cont {
        padding: 2em;
        height: 100%;
        width: 100%;
        background-color: rgba(26, 113, 185, 0.397);
    }

    .cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }


    .my-img {
        background-image: url("../images/photo1.jpg");
        background-size: cover;
        height: 300px;
        width: 190px;
        border-radius: .5em;
        background-size: cover;
    }

    .about {
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            text-transform: capitalize;
            font-size: 1.2em;
            color: black;
            border-bottom: 5px solid black;
            display: inline;
        }

        p.descp {
            color: var(--primary-color);
            text-shadow: 0px 0px 0px white;
            margin-top: 1em;
            font-family: "roboto";
            font-weight: bold;
            font-style: italic;
        }
        
        p {
            color: rgb(214, 211, 211);
            margin-top: .2em;
            font-family: sans-serif;
        }

        .list {
            padding: .1em;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                li {
                    color: rgb(214, 211, 211);
                    list-style-type: none;

                    p {
                        text-decoration: none;
                        padding: .5em;
                        border: 2px solid gray;
                        font-size: 1rem;
                        color: rgb(214, 211, 211);
                        text-shadow: 0px 0px 1px black;
                        
                    }
                    
                    span {
                        color: black;
                        font-family: 'Times New Roman', Times, serif;
                        font-weight: bold;
                    }
                }
            }
        }

        .resume {
            margin-top: 1em;
        }

        a.resume {
            padding: .5em 1em;
            background-color: var(--primary-color);
            background-image: linear-gradient(to left, rgb(175, 181, 187), rgb(26, 114, 185));
            display: inline-block;
            font-size: 1.2em;
            text-decoration: none;
            font-family: sans-serif;
            color: white;
            font-weight: bold;
            border-radius: 1em;
        }

    }
}

section.service {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(122, 151, 175, 0.829);

    img {
        height: 150px;
        width: 150px;
        border: 1px solid none;
        margin: .2em;
    }

    .cont1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .cont1 {
        padding: .5em;
        
        p:first-child {
            padding: .5em 1em;
            font-size: 1.2em;
            font-weight: bold;
            font-family: sans-serif ;
            color: white;
            border-radius: .5em;
            background-color: var(--primary-color);
        }

        h1 {
            text-transform: capitalize;
            font-family: "Lucida Sans";
            margin: .5em;
        }

        p {
            font-family: 'Times New Roman', Times, serif;
            color: white;
        }

        .line {
            background-color: var(--primary-color);
            height: 2px;
            width: 50%;
            margin-top: 1em;
        }
    }
    
    .web, .gui, .game {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 1em;

        h2 {
            text-transform: capitalize;
            font-family: "poppins";
        }

        p {
            color: white
        }
    }
}

.foot-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);

    h2 {
        font-family: cursive;
        color: white;
    }
}

@media  only screen and (min-width: 500px) {
    body {
        width: 100%;
    }

    .nav-container {
        border-bottom: 2px solid rgba(255, 255, 255, 0.123);

        .nav-cont {
            
            nav {
                display: block;
                
                ul {
                    display: flex;
                    list-style-type: none;
                    gap: 2rem;
                    font-family: sans-serif;
                    color: white;
                    font-weight: bold;
                    font-size: 1.2em;

                    a {
                        text-decoration: none;
                        color: white;

                        &:hover, &:active {
                            color: rgb(103, 146, 182);
                        }
                    }
                }
            }

            .menu {
                display: none;
            }
        }
    }

    .hero-sec {
        display: flex;
        align-items: center;

        h1 {
            font-size: 2.5em;
        }
        
        .land {
            display: flex;
            align-items: center;

            .intro-cont {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                
                
                .cont-img {
                    width: auto;
                    height: 40%;
                    display: flex;
                    gap: 1rem;

                    .image {
                        height: 250px;
                        width: 200px;
                        display: flex;
                        align-items: center;
                        justify-content: centers;
                        
                        &:nth-child(1) {
                            background-image: url("../images/screen02.jpg");
                            background-size: cover;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-position: bottom;
                        }

                        &:nth-child(2) {
                            background-image: url("../images/screen00.jpg");
                            background-size: cover;
                            width: 350px;
                        }

                        &:nth-child(3) {
                            background-image: url("../images/screen04.jpg");
                            background-size: cover;
                        }
                    }
                }
            }

            .cont-c {
                display: block;
                height: 350px;
                width: 40%;
                background-image: url("../images/photo.jpg");
                background-size: cover;
                border-radius: 4em;

                .img-cont {
                    height: 100%;
                    width: 100%;
                    background-color: rgba(26, 113, 185, 0.253);
                    border-radius: 50%;
                }
            }
        }
    }


    section.land-sect {
        padding: 4em;
        background-size: cover;

        .img-cont {
            border-radius: 1em;
        }

        .cont {
            flex-direction: row;
        }

        .my-img {
            height: 500px;
            width: 80%;
            border-top-left-radius: 40em;
            // border-top-right-radius: 6em;

            .cont {
                height: 100%;
                width: 100%;
                background-color: rgba(26, 113, 185, 0.397);
                border-top-left-radius: 22em;
            }
        }

        .about {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .about-me {
                display: flex;
                width: 100%;
                align-items: center;
                flex-direction: column;
                text-align: left;
                justify-content: flex-start;

            }

            .list {
                
                ul {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: .2em;
                }
            }
        }
    }

    section.service {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .cont1 {
            width: 60%;
            font-family: sans-serif;
        }

        .cont2 {
            display: flex;
            flex-direction: row;
            padding: 2em;
            gap: 1rem;
        }

        .gui, .web, .game {
            width: 50%;
            // background-color : whitesmoke;
            background-color: rgba(122, 151, 175, 0.87);
        }
    }
}